* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1b1b1b; /* Cor de fundo escura */
    padding: 10px;
}

.login-container {
    background-color: #2c2c2c; /* Container de fundo mais escuro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #e0e0e0; /* Texto claro */
}

h1 {
    margin-bottom: 20px;
    color: #ffffff; /* Título branco */
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #b0b0b0; /* Cor do texto dos labels */
}

input {
    width: 100%;
    padding: 8px;
    background-color: #3d3d3d; /* Fundo do input mais escuro */
    border: 1px solid #555555; /* Borda mais escura */
    border-radius: 4px;
    font-size: 16px;
    color: #e0e0e0; /* Texto claro */
}

input::placeholder {
    color: #a0a0a0; /* Placeholder mais claro */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5a67d8; /* Botão azul/roxo escuro */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #434190; /* Mudança de cor no hover do botão */
}

/* Responsividade */
@media (max-width: 600px) {
    body {
        padding: 5px;
    }

    .login-container {
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    input {
        padding: 10px;
        font-size: 14px;
    }

    button {
        padding: 12px;
        font-size: 14px;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

button {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #434190;
}
