/* Estilo geral para toda a página */
body {
    display: flex; /* Usar flexbox para centralização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da tela */
    background-color: #121212; /* Cor de fundo dark */
    color: #ffffff; /* Cor de texto claro */
    font-family: Arial, sans-serif;
    margin: 0; /* Remove margens padrão */
}

/* Estilo para o container de login */
#login-container {
    background-color: #1f1f1f; /* Fundo mais escuro para o container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; /* Largura máxima do contêiner */
    text-align: center;
    
}

/* Estilo do título */
#login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

/* Estilo para os grupos de input */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: flex;
    margin-bottom: 5px;
    color: #b3b3b3;
}

.input-group input {
    width: calc(100% - 20px); /* Largura responsiva */
    padding: 10px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #2a2a2a;
    color: #fff;
}

/* Estilo para o botão de login */
.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #007bff; /* Cor azul para o botão */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3; /* Cor mais escura no hover */
}

/* Estilo para mensagem de erro */
.error-message {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}
#dashboard-body{
    font-family: Arial, sans-serif;
    background-color: #7700ff;
    display: inline;
    
}
#dashboard-container{
    background-color: #5eff00;
    margin-bottom: 20px;
    color: #ffffff;
}
#dashboard-title{
    background-color: #f11629;
    display: flex;
}
#dashboard-table{
    border-radius: 10px;
    background-color: #f7f30d;
}