/* Estilo geral para toda a página */
body {
    background-color: #121212;
    /* Cor de fundo dark */
    color: #ffffff;
    /* Cor de texto claro */
    font-family: Arial, sans-serif;
    /* Remove margens padrão */
    margin: 0;
    text-align: left;
}

/* Estilo para o container de login */
#login-container {
    background-color: #1f1f1f;
    /* Fundo mais escuro para o container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    /* Largura máxima do contêiner */
    text-align: center;

}

/* Estilo do título */
#login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

/* Estilo para os grupos de input */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: flex;
    margin-bottom: 5px;
    color: #b3b3b3;
}

.input-group input {
    width: calc(100% - 20px);
    /* Largura responsiva */
    padding: 10px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #2a2a2a;
    color: #fff;
}

/* Estilo para o botão de login */
.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #007bff;
    /* Cor azul para o botão */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
    /* Cor mais escura no hover */
}

/* Estilo para mensagem de erro */
.error-message {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

#div-chamado h2 {
    text-align: center;

}

.login-body {
    display: flex;
}

#Header {
    display: flex;
    justify-content: space-between;
    /* Espaça os elementos nas extremidades */
    align-items: center;
    padding: 21px 34px 18px;
    background: linear-gradient(to bottom, #0056b3 0%, #007bff 100%);
    border-bottom: 1px solid #007bff;
}

#Logo {
    background-image: url(../assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}

h1 {
    font-size: 21px;
    font-weight: bold;
}

/* Navegação */
#Navigation {
    display: flex;
    /* Centraliza os itens na linha */
    background-color: #1f1f1f;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#Navigation ul {
    list-style: none;
    display: flex;
    /* Espaçamento entre os itens */
    padding: 0;
    margin: 0;
    float: right;
}
#Navigation li {
    float: right;
}

#Navigation ul li a {
    font-size: 14px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.4s;
    margin: 0;
}

#Navigation ul li a:hover {
    background-color: #0056b3;
    color: white;
}

#Navigation .Lateral {
    float: right;
}

.titulo {
    text-decoration: none;
    /* color: #FFFFFF; Branco */
    color: #D3D3D3;
    /*Cinza Claro */
    /* color: #FFD700; Amarelo Claro */
    /* color: #FFA500; Laranja Suave */
    font-weight: bold;
}

#Overview {
    justify-content: center;
    border-collapse: collapse;
    width: 100%;
}

#Overview th,
td {
    padding: 1px;
    margin: 1px;
    text-align: center;
    font-size: 15px;
    border-style: inherit;
    border-bottom: 2px solid #D3D3D3;
    border-top: 2px solid #D3D3D3;

}

#Overview tr:hover {
    background-color: #007bff;
    /* Cor de fundo ao passar o mouse */
}

.chamado-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chamado-details h2 {
    margin-bottom: 10px;
}

.chamado-details .row {
    display: flex;
    flex-wrap: wrap;
}

.chamado-details .col-md-6 {
    flex: 0 0 50%;
    margin-bottom: 10px;
}

.chamado-details p {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
#status {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 15px;
    border-style: solid;
    border: 1px;
    border-radius: 1px;
    background: #0056b3;
}